@using EHA_News.Models
@model Account

@{
    ViewData["Title"] = "Sign Up";
}

<h1>Signup</h1>

<form asp-action="Signup" method="post">
    <div class="form-group col-md-5">
        <label asp-for="AccountId"> Email - </label>
        <input asp-for="AccountId" class="form-control" />
    </div>

    <div class="form-group col-md-5">
        <label asp-for="FirstName"> First Name - </label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group col-md-5">
        <label asp-for="LastName"> Last Name - </label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group col-md-5">
        <label asp-for="Password"> Password - </label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group col-md-5">
        <label asp-for="ConfirmPassword"> Confirm Password - </label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit"> Sign Up</button>

    <div asp-validation-summary="All"
         class="text-danger">
    </div>
</form>

<p>Already have an account? Sign in here!</p>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Sign In</a>

