################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EHA_News
/EHA_News
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
