@model EN_Assignment5.Models.Hold

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
    <body>

    </body>


</html>
