@model EHA_News.Models.Article

@{
    ViewData["Title"] = "Create Article";
}

<h1>Create New Article</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Headline" class="control-label">Headline</label>
        <input asp-for="Headline" class="form-control" />
        <span asp-validation-for="Headline" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Synopsis" class="control-label">Synopsis</label>
        <textarea asp-for="Synopsis" class="form-control"></textarea>
        <span asp-validation-for="Synopsis" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author" class="control-label">Author</label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group col-md-5">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">
                    @c.CategoryName
                </option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

 

    <button type="submit" class="btn btn-primary">Create Article</button>
</form>

<!-- Display validation messages if any -->
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
